flows/flows (1).json
[{"id":"92e4f5d6.d4c358","type":"tab","label":"Motors","disabled":false,"info":""},{"id":"de83c066.d59c5","type":"tab","label":"Listening","disabled":false,"info":""},{"id":"c233ac79.f1c92","type":"tab","label":"Brain","disabled":false,"info":""},{"id":"a3c974bd.ce9f68","type":"tab","label":"All_Init","disabled":false,"info":""},{"id":"552acbb0.493cf4","type":"subflow","name":"listening_1","info":"","category":"","in":[{"x":120,"y":300,"wires":[{"id":"98b63ab7.1459e8"}]}],"out":[{"x":980,"y":420,"wires":[{"id":"70df0030.45b28","port":0},{"id":"98b63ab7.1459e8","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"9692a37d.5f08d","type":"subflow","name":"listening_2","info":"","category":"","in":[{"x":60,"y":382,"wires":[{"id":"2b9f55e.f5423aa"}]}],"out":[{"x":420,"y":400,"wires":[{"id":"bdb023f1.bca42","port":"0"}]},{"x":1332,"y":380,"wires":[{"id":"3b38390b.e745b6","port":0}]},{"x":1140,"y":174,"wires":[{"id":"c37eba40.b08998","port":0},{"id":"d81c6321.1b2f","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c50d3b5f.79a9e8","type":"subflow","name":"Question","info":"","category":"","in":[{"x":60,"y":360,"wires":[{"id":"5d58b0e1.227eb"}]}],"out":[{"x":1020,"y":260,"wires":[{"id":"3b387663.9c246a","port":0},{"id":"d6ab4887.736518","port":0},{"id":"3b7af1a6.662b2e","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b2e2cd7e.e0f84","type":"subflow","name":"status wait ","info":"","category":"","in":[{"x":360,"y":220,"wires":[{"id":"49789c98.3601c4"}]}],"out":[{"x":760,"y":180,"wires":[{"id":"49789c98.3601c4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4884d1b9.6de13","type":"subflow","name":"looking","info":"","category":"","in":[{"x":40,"y":180,"wires":[{"id":"60d3bd4b.b48d84"}]}],"out":[{"x":1080,"y":80,"wires":[{"id":"38e2dc5.d645624","port":0}]},{"x":1100,"y":340,"wires":[{"id":"b8b0028f.e5757","port":0},{"id":"38e2dc5.d645624","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"a628b44a.179ac8","type":"subflow","name":"init","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"ef266723.9cb178"}]}],"out":[{"x":460,"y":60,"wires":[{"id":"ef266723.9cb178","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d7e09c0f.80f17","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a6c31ab5.ae5d98","type":"mqtt in","z":"de83c066.d59c5","name":"","topic":"backend/listening/text","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":260,"y":360,"wires":[["2a30cf44.fa24c"]]},{"id":"88909aaf.919818","type":"function","z":"de83c066.d59c5","name":"ค้นหาคำสั่ง","func":"var payload = msg.payload\nvar search = \n    [\n    \"ถ่ายรูป\",\"start\",\"Stop\",\"เปิด,ไฟ\",\n    \"ปิด,ไฟ\",\"สวัสดี\",\"ไก่จิกเด็กตายบนปากโอ่ง\",\"แมวกันมันแกว\",\n    \"แมวเล้าเมาแล้ว\",\"สบู่ลักส์\",\"ขนมจีบซาลาเปา\"\n    ]\nvar str0 = \"\"\n\nfor(var i=0;i<search.length;i++){\n    var str1 =search[i].split(\",\")\n    for(var k=0;k<str1.length;k++){\n        if(payload.search(str1[k]) != -1 && payload.search(str1[0]) != -1){\n            str0 = str0+str1[k]\n        }\n    }\n    if(str0 == \"เปิดไฟ\"){\n        global.set(\"LED\",str0);\n        str0 = str0+payload\n    }\n    if(str0 == \"ปิดไฟ\"){\n        global.set(\"LED\",str0);\n    }\n    if(str0!= \"\"){\n        break\n    }\n}\nif(str0 == \"\"){\n    str0 = \"ไม่เข้าใจ\"\n}\nmsg.payload = str0\nstr0 = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":360,"wires":[["1802b5c6.433d6a"]]},{"id":"1802b5c6.433d6a","type":"switch","z":"de83c066.d59c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"เปิดไฟ","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":830,"y":360,"wires":[["ce4fb27b.70c05"],["d7973913.b18d78","d1df6689.5d1988"]]},{"id":"ce4fb27b.70c05","type":"function","z":"de83c066.d59c5","name":"เปิดไฟ","func":"var payload = msg.payload\nvar color = [\"de\",\"ขาว\",\"แดง\",\"ส้ม\",\"น้ำเงิน\",\"เขียว\",\"ม่วง\",\"ชมพู\",\"เหลือง\",\"ฟ้า\"]\nvar all_str = new Array(20)\nvar str = \"เปิดไฟ,\"\n\nfor(var i=0;i<color.length;i++){\n    if(payload.search(color[i]) != -1){\n        for(var k=0;k<=all_str.length;k++){\n            if(all_str[k] == null){\n                all_str[k] = payload.indexOf(color[i])\n                break;\n            }\n            \n        }\n    }\n}\n\n\nall_str.sort(function(a, b){return a-b});\nfor(var a=0;a<all_str.length;a++){\n    if(all_str[a]!=null){\n        for(var b=0;b<color.length;b++){\n            if(payload.indexOf(color[b]) == all_str[a] ){\n                str = str+b+\",\"\n                break\n            }\n        }\n    }\n    else{\n        break\n    }\n}\n\nmsg.payload = str\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":300,"wires":[["d7973913.b18d78","d1df6689.5d1988"]]},{"id":"d7973913.b18d78","type":"mqtt out","z":"de83c066.d59c5","name":"","topic":"module/listening/text","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1100,"y":400,"wires":[]},{"id":"2a30cf44.fa24c","type":"switch","z":"de83c066.d59c5","name":"เช็คสถานะFOBI","property":"status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":480,"y":360,"wires":[["88909aaf.919818","7391268.d5678d8"]]},{"id":"2b9f55e.f5423aa","type":"switch","z":"9692a37d.5f08d","name":"ตรวจว่าเห็นหน้าคนหรือไม่","property":"module/eyes/skin/see","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":380,"wires":[["188664d0.80516b","1dcf67a3.7a9c38"],["bdb023f1.bca42"]]},{"id":"fe7cf5c8.e68a58","type":"countdown","z":"9692a37d.5f08d","name":"","topic":"","payloadTimerStart":"1","payloadTimerStartType":"str","payloadTimerStop":"0","payloadTimerStopType":"str","timer":"10","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":170,"y":262,"wires":[["33e2f290.cb4b9e"],[]]},{"id":"33e2f290.cb4b9e","type":"change","z":"9692a37d.5f08d","name":"Set เห็นหน้าอยู่หรือไม่","rules":[{"t":"set","p":"check_face","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":202,"wires":[[]]},{"id":"bdb023f1.bca42","type":"switch","z":"9692a37d.5f08d","name":"","property":"check_face","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":460,"wires":[[],["d7efcbf0.af0628","1dcf67a3.7a9c38"]]},{"id":"be364ed.34106b","type":"mqtt in","z":"92e4f5d6.d4c358","name":"backed/eyes/face/x","topic":"backend/eyes/face/x","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":290,"y":160,"wires":[["709c6463.54d80c"]]},{"id":"13184aa6.1bda45","type":"mqtt in","z":"92e4f5d6.d4c358","name":"backend/eyes/face/y","topic":"backend/eyes/face/y","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":290,"y":440,"wires":[["fbba43f2.5e301"]]},{"id":"709c6463.54d80c","type":"switch","z":"92e4f5d6.d4c358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"180","vt":"num"},{"t":"lt","v":"140","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":660,"y":160,"wires":[["85b68785.22a128"],["ea5c62e2.77e1b"],["bb23a4dd.b8fcb8"]]},{"id":"fbba43f2.5e301","type":"switch","z":"92e4f5d6.d4c358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"140","vt":"num"},{"t":"eq","v":"100","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":660,"y":440,"wires":[["4be9b0f4.99f75"],["335f6d26.a28082"],["70e2c05a.9f1"]]},{"id":"85b68785.22a128","type":"change","z":"92e4f5d6.d4c358","name":"Left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":100,"wires":[["4c35c654.bb4dc8"]]},{"id":"ea5c62e2.77e1b","type":"change","z":"92e4f5d6.d4c358","name":"Right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":160,"wires":[["4c35c654.bb4dc8"]]},{"id":"4be9b0f4.99f75","type":"change","z":"92e4f5d6.d4c358","name":"Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":380,"wires":[["4c35c654.bb4dc8"]]},{"id":"335f6d26.a28082","type":"change","z":"92e4f5d6.d4c358","name":"Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":460,"wires":[["4c35c654.bb4dc8"]]},{"id":"bb23a4dd.b8fcb8","type":"change","z":"92e4f5d6.d4c358","name":"DisableX","rules":[{"t":"set","p":"payload","pt":"msg","to":"disableX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":240,"wires":[["4c35c654.bb4dc8"]]},{"id":"70e2c05a.9f1","type":"change","z":"92e4f5d6.d4c358","name":"DisableY","rules":[{"t":"set","p":"payload","pt":"msg","to":"disableY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":540,"wires":[["4c35c654.bb4dc8"]]},{"id":"4c35c654.bb4dc8","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/rotate","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1350,"y":280,"wires":[]},{"id":"be2d9b2e.7a1758","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":100,"wires":[["85b68785.22a128"]]},{"id":"8faa6ebe.583a8","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":200,"wires":[["ea5c62e2.77e1b"]]},{"id":"1bc9ec55.803854","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":260,"wires":[["bb23a4dd.b8fcb8"]]},{"id":"d94cef3c.47d59","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":400,"wires":[["4be9b0f4.99f75"]]},{"id":"a86c345b.c1e418","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":480,"wires":[["335f6d26.a28082"]]},{"id":"c82c2b72.516528","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":560,"wires":[["70e2c05a.9f1"]]},{"id":"5fa7c3b8.7b9aac","type":"change","z":"92e4f5d6.d4c358","name":"Center","rules":[{"t":"set","p":"payload","pt":"msg","to":"center","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":300,"wires":[["4c35c654.bb4dc8"]]},{"id":"7fd5d27a.84cc5c","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":340,"wires":[["5fa7c3b8.7b9aac"]]},{"id":"d6cf468a.487808","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/speed/2","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1130,"y":780,"wires":[]},{"id":"59818759.322ae8","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/angle/2/min","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1190,"y":900,"wires":[]},{"id":"3560579a.00cab8","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/angle/2/max","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1190,"y":980,"wires":[]},{"id":"254b71e3.5b2d6e","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/angle/3/min","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1190,"y":1060,"wires":[]},{"id":"1eb821b6.11ccce","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/angle/3/max","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1190,"y":1140,"wires":[]},{"id":"879ebaa6.8f7f48","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"712","payloadType":"str","x":410,"y":860,"wires":[["59818759.322ae8"]]},{"id":"6a3878e7.4d4908","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"312","payloadType":"str","x":410,"y":940,"wires":[["3560579a.00cab8"]]},{"id":"21f066bc.c5194a","type":"link in","z":"9692a37d.5f08d","name":"","links":["7874b2fa.1b76ec","fbf37c0b.9c117","96e646ca.aec658","9c61fbaf.abf8e8","3700fdb8.3fdc22","f490edbe.02985"],"x":55,"y":262,"wires":[["fe7cf5c8.e68a58"]]},{"id":"7874b2fa.1b76ec","type":"link out","z":"9692a37d.5f08d","name":"","links":["21f066bc.c5194a","479b85d8.c356fc","f0da60aa.b4ccf","b252bcd3.a8121"],"x":575,"y":300,"wires":[]},{"id":"1dcf67a3.7a9c38","type":"change","z":"9692a37d.5f08d","name":"Set เป็น msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"module/listening/text","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["3bd9744f.52d94c","2110a7df.fbf2a8","b7895df4.690ce"]]},{"id":"2110a7df.fbf2a8","type":"switch","z":"9692a37d.5f08d","name":"สนทนา","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"สวัสดี","vt":"str","case":false},{"t":"regex","v":"ไม่เข้าใจ","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":2,"x":750,"y":340,"wires":[["7efea75c.337438"],["dd4bc277.a1484"]]},{"id":"7efea75c.337438","type":"function","z":"9692a37d.5f08d","name":"สวัสดี","func":"if(global.get(\"talk\") >= 2){\n    msg.payload = \"talk,\"+\"ลำคาญ\"+\",\"\n    return msg\n}\nelse{\n    var payload = global.get(\"talk\")\n    payload = payload+1;\n    global.set(\"talk\",payload)\n    msg.payload = \"talk,\"+\"สวัสดี\"+\",\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":902,"y":322,"wires":[["3b38390b.e745b6"]]},{"id":"ff88961c.1f6198","type":"mqtt out","z":"9692a37d.5f08d","name":"","topic":"module/talking/id","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1422,"y":340,"wires":[]},{"id":"b7895df4.690ce","type":"switch","z":"9692a37d.5f08d","name":"คำสั่ง","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"เปิดไฟ","vt":"str","case":false},{"t":"regex","v":"ปิดไฟ","vt":"str","case":false},{"t":"regex","v":"ถ่ายรูป","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":3,"x":747,"y":460,"wires":[["b410c953.eccb48","2ff85bf2.2c6564"],["b410c953.eccb48","2ff85bf2.2c6564"],["130cd77b.4df9c9","fa1f208c.83d95"]]},{"id":"b410c953.eccb48","type":"mqtt out","z":"9692a37d.5f08d","name":"","topic":"module/led/request","qos":"","retain":"","broker":"d7e09c0f.80f17","x":942,"y":442,"wires":[]},{"id":"2ff85bf2.2c6564","type":"function","z":"9692a37d.5f08d","name":"เสียงเปิด / ปิดไฟ","func":"global.set(\"LED_listening\",global.get(\"LED\"));\nmsg.payload = \"talk,\"+global.get(\"LED_listening\")+\",\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":932,"y":402,"wires":[["a39317a0.4012c8","3b38390b.e745b6"]]},{"id":"130cd77b.4df9c9","type":"change","z":"9692a37d.5f08d","name":"เสียงถ่ายรูป","rules":[{"t":"set","p":"payload","pt":"msg","to":"talk,Camera,","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":921,"y":482,"wires":[["a39317a0.4012c8","3b38390b.e745b6"]]},{"id":"fa1f208c.83d95","type":"mqtt out","z":"9692a37d.5f08d","name":"","topic":"module/camera/request","qos":"","retain":"","broker":"d7e09c0f.80f17","x":961,"y":522,"wires":[]},{"id":"7fd1dae7.25add4","type":"change","z":"9692a37d.5f08d","name":"Re พูดสวัสดีซ้ำ","rules":[{"t":"set","p":"talk","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1331,"y":482,"wires":[[]]},{"id":"4d9c8d70.b74fc4","type":"link in","z":"9692a37d.5f08d","name":"","links":["a39317a0.4012c8"],"x":1206,"y":482,"wires":[["7fd1dae7.25add4"]]},{"id":"a39317a0.4012c8","type":"link out","z":"9692a37d.5f08d","name":"","links":["4d9c8d70.b74fc4"],"x":1126,"y":482,"wires":[]},{"id":"dd4bc277.a1484","type":"function","z":"9692a37d.5f08d","name":"ไม่เข้าใจ","func":"var payload = msg.payload\nmsg.payload = \"talk,\"+payload+\",\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":912,"y":362,"wires":[["3b38390b.e745b6"]]},{"id":"3b38390b.e745b6","type":"change","z":"9692a37d.5f08d","name":"Set สถานะพูด FOBI","rules":[{"t":"set","p":"module/talking/result","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1202,"y":342,"wires":[["ff88961c.1f6198"]]},{"id":"457ada59.6236f4","type":"link in","z":"9692a37d.5f08d","name":"","links":["3da6f2b1.d235be","5eab604d.e133c","afe540f.160d1c","cbe2bc69.d349d","ccaa4ab8.87b048"],"x":55,"y":422,"wires":[["2b9f55e.f5423aa"]]},{"id":"7391268.d5678d8","type":"change","z":"de83c066.d59c5","name":"Set มีการพูดอยู่หรือไม่","rules":[{"t":"set","p":"check_talk","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":420,"wires":[[]]},{"id":"a19e78fe.3f7d28","type":"switch","z":"9692a37d.5f08d","name":"","property":"chack_talk_countdown","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1130,"y":280,"wires":[["d81c6321.1b2f"],["cbe2bc69.d349d"],["bd53b529.9c1c38"]]},{"id":"18a9d463.a1b30c","type":"countdown","z":"9692a37d.5f08d","name":"","topic":"","payloadTimerStart":"1","payloadTimerStartType":"str","payloadTimerStop":"0","payloadTimerStopType":"str","timer":"12","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":1370,"y":140,"wires":[["6118804a.4f1f3"],[]]},{"id":"bd53b529.9c1c38","type":"change","z":"9692a37d.5f08d","name":"เริ่มจับเวลา","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":300,"wires":[["18a9d463.a1b30c"]]},{"id":"3bd9744f.52d94c","type":"switch","z":"9692a37d.5f08d","name":"มีคนพูดหรือไม่","property":"check_talk","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":705,"y":240,"wires":[["2dcb9fdc.1ebdf"],["c37eba40.b08998"]]},{"id":"2dcb9fdc.1ebdf","type":"change","z":"9692a37d.5f08d","name":"ยกเลิกจับเวลา","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":905,"y":160,"wires":[["18a9d463.a1b30c"]]},{"id":"e482825b.93526","type":"change","z":"9692a37d.5f08d","name":"","rules":[{"t":"set","p":"chack_talk_countdown","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1775,"y":160,"wires":[["9157278f.aa96b8"]]},{"id":"6118804a.4f1f3","type":"switch","z":"9692a37d.5f08d","name":"","property":"check_talk","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":140,"wires":[["14a3bfee.612ab"],["e482825b.93526"]]},{"id":"14a3bfee.612ab","type":"change","z":"9692a37d.5f08d","name":"Set countdown","rules":[{"t":"set","p":"chack_talk_countdown","pt":"global","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1715,"y":119,"wires":[["9157278f.aa96b8"]]},{"id":"188664d0.80516b","type":"change","z":"9692a37d.5f08d","name":"ยกเลิกจับเวลา","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":300,"wires":[["7874b2fa.1b76ec"]]},{"id":"f490edbe.02985","type":"link out","z":"9692a37d.5f08d","name":"","links":["21f066bc.c5194a"],"x":675,"y":500,"wires":[]},{"id":"d7efcbf0.af0628","type":"change","z":"9692a37d.5f08d","name":"เริ่มจับเวลา","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["f490edbe.02985"]]},{"id":"19b40512.14820b","type":"inject","z":"c233ac79.f1c92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["bff4d3c1.9c215"]]},{"id":"9849960e.bdbdb8","type":"subflow:552acbb0.493cf4","z":"c233ac79.f1c92","name":"","env":[],"x":550,"y":200,"wires":[["2a5008ef.d333a8"]]},{"id":"6e5d0407.a544fc","type":"change","z":"a3c974bd.ce9f68","name":"","rules":[{"t":"set","p":"see","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[[]]},{"id":"9ea401fe.851d2","type":"mqtt in","z":"a3c974bd.ce9f68","name":"","topic":"module/eyes/skin/see","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":280,"y":160,"wires":[["6e5d0407.a544fc"]]},{"id":"98b63ab7.1459e8","type":"switch","z":"552acbb0.493cf4","name":"see","property":"see","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":300,"wires":[["ec9a7f8.9e8cc8"],[]]},{"id":"1bdf4e09.7c9262","type":"mqtt in","z":"a3c974bd.ce9f68","name":"","topic":"module/listening/text","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":270,"y":280,"wires":[["54ce8b84.68d7f4"]]},{"id":"54ce8b84.68d7f4","type":"change","z":"a3c974bd.ce9f68","name":"","rules":[{"t":"set","p":"text","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":280,"wires":[[]]},{"id":"ec9a7f8.9e8cc8","type":"switch","z":"552acbb0.493cf4","name":"text","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"start","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":280,"wires":[["70df0030.45b28","b1e9b5f6.c28308"],["5eb8a32d.bf3b9c"]]},{"id":"72dba95f.d9cea8","type":"mqtt out","z":"552acbb0.493cf4","name":"","topic":"module/talking/id","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1120,"y":300,"wires":[]},{"id":"70df0030.45b28","type":"change","z":"552acbb0.493cf4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":300,"wires":[["72dba95f.d9cea8"]]},{"id":"d1df6689.5d1988","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":360,"wires":[["303a6f94.331df"]]},{"id":"303a6f94.331df","type":"mqtt out","z":"de83c066.d59c5","name":"","topic":"status","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1310,"y":360,"wires":[]},{"id":"2bd9000.0c026","type":"random","z":"c50d3b5f.79a9e8","name":"random คำถาม","low":"1","high":"5","inte":"true","property":"payload","x":520,"y":380,"wires":[["5662a9a6.f0f218"]]},{"id":"5662a9a6.f0f218","type":"function","z":"c50d3b5f.79a9e8","name":"","func":"global.set(\"questionA\",msg.payload)\nmsg.payload = \"question,\"+\"Q\"+msg.payload+\",\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":380,"wires":[["5f985c94.78eaf4","d6ab4887.736518"]]},{"id":"5d58b0e1.227eb","type":"change","z":"c50d3b5f.79a9e8","name":"Set สถานะพูด FOBI","rules":[{"t":"set","p":"module/talking/result","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":360,"wires":[["43be7413.fd7d2c"]]},{"id":"5f985c94.78eaf4","type":"mqtt out","z":"c50d3b5f.79a9e8","name":"","topic":"module/talking/id","qos":"","retain":"","broker":"d7e09c0f.80f17","x":890,"y":400,"wires":[]},{"id":"fdbc40ec.54dbd","type":"link in","z":"b2e2cd7e.e0f84","name":"","links":["80bda669.718318"],"x":395,"y":260,"wires":[["49789c98.3601c4"]]},{"id":"49789c98.3601c4","type":"switch","z":"b2e2cd7e.e0f84","name":"เช็คสถานะ FOBI พูดเสร็จหรือยัง","property":"module/talking/result","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":238,"wires":[["1621165d.f1883a"],["80bda669.718318"]]},{"id":"80bda669.718318","type":"link out","z":"b2e2cd7e.e0f84","name":"","links":["fdbc40ec.54dbd"],"x":715,"y":298,"wires":[]},{"id":"1621165d.f1883a","type":"change","z":"b2e2cd7e.e0f84","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":238,"wires":[["a6dc8012.1e96e"]]},{"id":"a6dc8012.1e96e","type":"mqtt out","z":"b2e2cd7e.e0f84","name":"","topic":"status","qos":"","retain":"","broker":"d7e09c0f.80f17","x":989,"y":238,"wires":[]},{"id":"3b387663.9c246a","type":"function","z":"c50d3b5f.79a9e8","name":"","func":"var payload = global.set(\"questionA\")\nmsg.payload = \"question,\"+\"A\"+payload+\",\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":320,"wires":[["58fe5c41.c90a34"]]},{"id":"58fe5c41.c90a34","type":"mqtt out","z":"c50d3b5f.79a9e8","name":"","topic":"module/talking/id","qos":"","retain":"","broker":"d7e09c0f.80f17","x":830,"y":272,"wires":[]},{"id":"43be7413.fd7d2c","type":"switch","z":"c50d3b5f.79a9e8","name":"","property":"check_question","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":360,"wires":[["142f4a14.b9da56"],["2bd9000.0c026"]]},{"id":"d6ab4887.736518","type":"change","z":"c50d3b5f.79a9e8","name":"","rules":[{"t":"set","p":"check_question","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":360,"wires":[[]]},{"id":"4ae6fde4.9747b4","type":"subflow:9692a37d.5f08d","z":"c233ac79.f1c92","name":"","x":850,"y":280,"wires":[[],["a10ded95.7435d"],["111d77ea.3ab458"]]},{"id":"4afee95f.71c6b8","type":"subflow:b2e2cd7e.e0f84","z":"c233ac79.f1c92","name":"","x":670,"y":320,"wires":[["4ae6fde4.9747b4"]]},{"id":"111d77ea.3ab458","type":"subflow:c50d3b5f.79a9e8","z":"c233ac79.f1c92","name":"","x":960,"y":360,"wires":[["a10ded95.7435d"]]},{"id":"fc79129.a0ac8f","type":"link in","z":"c233ac79.f1c92","name":"","links":[],"x":535,"y":360,"wires":[["4afee95f.71c6b8"]]},{"id":"a10ded95.7435d","type":"link out","z":"c233ac79.f1c92","name":"","links":[],"x":1075,"y":320,"wires":[]},{"id":"c37eba40.b08998","type":"switch","z":"9692a37d.5f08d","name":"FOBI ได้ถามคำถามไหม","property":"check_question","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":935,"y":240,"wires":[[],["a19e78fe.3f7d28"]]},{"id":"9ca1009a.042fd","type":"switch","z":"de83c066.d59c5","name":"","property":"chack_talk_countdown","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":550,"y":680,"wires":[["c181846d.5a5058","47794cf.27533b4"],["c181846d.5a5058","cdc50033.cbe47","2790f662.dd675a"],["f6b4aa29.314ed8"]]},{"id":"7e81da7b.2851d4","type":"countdown","z":"de83c066.d59c5","name":"","topic":"","payloadTimerStart":"1","payloadTimerStartType":"str","payloadTimerStop":"0","payloadTimerStopType":"str","timer":"12","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":805,"y":620,"wires":[["affdbc68.4c47b","372b657e.6d173a"],[]]},{"id":"f6b4aa29.314ed8","type":"change","z":"de83c066.d59c5","name":"เริ่มจับเวลา","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":720,"wires":[["7e81da7b.2851d4","4dc53a01.daa5b4"]]},{"id":"89271402.9b19c8","type":"switch","z":"de83c066.d59c5","name":"มีคนพูดหรือไม่","property":"check_talk","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":680,"wires":[["16fcb2d3.c7696d"],["fb889ea6.d063","1faf7e75.2281e2"]]},{"id":"16fcb2d3.c7696d","type":"change","z":"de83c066.d59c5","name":"ยกเลิกจับเวลา","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":345,"y":620,"wires":[["7e81da7b.2851d4"]]},{"id":"8aff622a.be16c","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"chack_talk_countdown","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1215,"y":620,"wires":[["c5f7e15f.67374","b2d9f8f1.8f4248"]]},{"id":"affdbc68.4c47b","type":"switch","z":"de83c066.d59c5","name":"","property":"check_talk","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":600,"wires":[["a2136b0e.813c68","7dc4596f.44c928"],["8aff622a.be16c"]]},{"id":"a2136b0e.813c68","type":"change","z":"de83c066.d59c5","name":"Set มีการพูดอยู่หรือไม่","rules":[{"t":"set","p":"chack_talk_countdown","pt":"global","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":560,"wires":[["afe540f.160d1c","d55337ba.ef8258"]]},{"id":"afe540f.160d1c","type":"link out","z":"de83c066.d59c5","name":"","links":["227885f2.4caaea"],"x":1335,"y":560,"wires":[]},{"id":"fb889ea6.d063","type":"switch","z":"de83c066.d59c5","name":"FOBI ได้ถามคำถามไหม","property":"check_question","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":375,"y":700,"wires":[[],["9ca1009a.042fd","704195d2.f113fc"]]},{"id":"11e12d1.ec262d3","type":"change","z":"de83c066.d59c5","name":"Set มีการพูดอยู่หรือไม่","rules":[{"t":"set","p":"check_talk","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":900,"wires":[[]]},{"id":"84ace3c3.12449","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":900,"wires":[["89271402.9b19c8"]]},{"id":"227885f2.4caaea","type":"link in","z":"de83c066.d59c5","name":"","links":["afe540f.160d1c","c5f7e15f.67374","c181846d.5a5058","599f3863.76f2c8"],"x":215,"y":760,"wires":[["89271402.9b19c8"]]},{"id":"c5f7e15f.67374","type":"link out","z":"de83c066.d59c5","name":"","links":["227885f2.4caaea"],"x":1275,"y":760,"wires":[]},{"id":"c96cb561.44b0f8","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":900,"wires":[["11e12d1.ec262d3"]]},{"id":"9df04106.485b4","type":"change","z":"de83c066.d59c5","name":"Set มีการพูดอยู่หรือไม่","rules":[{"t":"set","p":"check_talk","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":840,"wires":[[]]},{"id":"6f579077.61f41","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":840,"wires":[["9df04106.485b4"]]},{"id":"c181846d.5a5058","type":"link out","z":"de83c066.d59c5","name":"","links":["227885f2.4caaea"],"x":655,"y":640,"wires":[]},{"id":"a293f7b6.276248","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":780,"wires":[]},{"id":"1faf7e75.2281e2","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":780,"wires":[["a293f7b6.276248"]]},{"id":"fb5c7c73.f7c11","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":540,"wires":[]},{"id":"a75959a1.1cc628","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1/2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":540,"wires":[["fb5c7c73.f7c11"]]},{"id":"60c3f625.74ad98","type":"switch","z":"4884d1b9.6de13","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":160,"y":400,"wires":[["d122a5f.420a658"],["792cd0d9.42207"],["b533d382.64f23"],["1e70ce72.c28382"],["9267043f.b78918"]]},{"id":"60d3bd4b.b48d84","type":"switch","z":"4884d1b9.6de13","name":"see","property":"see","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":180,"wires":[["38e2dc5.d645624"],["3fedbd3b.7a46e2"]]},{"id":"3fedbd3b.7a46e2","type":"random","z":"4884d1b9.6de13","name":"","low":"1","high":"5","inte":"true","property":"payload","x":180,"y":280,"wires":[["60c3f625.74ad98"]]},{"id":"d122a5f.420a658","type":"change","z":"4884d1b9.6de13","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["da5da142.1c2be","b8b0028f.e5757"]]},{"id":"792cd0d9.42207","type":"change","z":"4884d1b9.6de13","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["da5da142.1c2be","b8b0028f.e5757"]]},{"id":"b533d382.64f23","type":"change","z":"4884d1b9.6de13","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":420,"wires":[["da5da142.1c2be","b8b0028f.e5757"]]},{"id":"1e70ce72.c28382","type":"change","z":"4884d1b9.6de13","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":460,"wires":[["da5da142.1c2be","b8b0028f.e5757"]]},{"id":"9267043f.b78918","type":"change","z":"4884d1b9.6de13","name":"center","rules":[{"t":"set","p":"payload","pt":"msg","to":"center","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":500,"wires":[["da5da142.1c2be","b8b0028f.e5757"]]},{"id":"da5da142.1c2be","type":"mqtt out","z":"4884d1b9.6de13","name":"","topic":"module/motor/rotate","qos":"","retain":"","broker":"d7e09c0f.80f17","x":650,"y":580,"wires":[]},{"id":"83ac930f.bee6b","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":760,"wires":[]},{"id":"704195d2.f113fc","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2/2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":760,"wires":[["83ac930f.bee6b"]]},{"id":"366e74e3.a6174c","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":700,"wires":[]},{"id":"4dc53a01.daa5b4","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1/3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":700,"wires":[["366e74e3.a6174c"]]},{"id":"53dfc821.dc68d8","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":480,"wires":[]},{"id":"7dc4596f.44c928","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1/4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":480,"wires":[["53dfc821.dc68d8"]]},{"id":"a0a5fc53.08d6b","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1670,"y":520,"wires":[]},{"id":"d55337ba.ef8258","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1/5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":520,"wires":[["a0a5fc53.08d6b"]]},{"id":"d5b49531.d43578","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1650,"y":620,"wires":[]},{"id":"b2d9f8f1.8f4248","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2/5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":620,"wires":[["d5b49531.d43578"]]},{"id":"d18c13a6.c6fb5","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":560,"wires":[]},{"id":"47794cf.27533b4","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3/2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":580,"wires":[["d18c13a6.c6fb5"]]},{"id":"3c587cea.76e6d4","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":640,"wires":[]},{"id":"cdc50033.cbe47","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"4/2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":680,"wires":[["3c587cea.76e6d4"]]},{"id":"2a5008ef.d333a8","type":"subflow:4884d1b9.6de13","z":"c233ac79.f1c92","name":"","env":[],"x":460,"y":480,"wires":[["4afee95f.71c6b8"],["9849960e.bdbdb8"]]},{"id":"bff4d3c1.9c215","type":"subflow:a628b44a.179ac8","z":"c233ac79.f1c92","name":"","env":[],"x":370,"y":200,"wires":[["9849960e.bdbdb8"]]},{"id":"ef266723.9cb178","type":"change","z":"a628b44a.179ac8","name":"state","rules":[{"t":"set","p":"state","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":60,"wires":[[]]},{"id":"372b657e.6d173a","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":500,"wires":[]},{"id":"2790f662.dd675a","type":"change","z":"de83c066.d59c5","name":"Set มีการพูดอยู่หรือไม่","rules":[{"t":"set","p":"chack_talk_countdown","pt":"global","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":860,"wires":[[]]},{"id":"b8b0028f.e5757","type":"delay","z":"4884d1b9.6de13","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":400,"wires":[[]]},{"id":"d81c6321.1b2f","type":"change","z":"9692a37d.5f08d","name":"Set countdown","rules":[{"t":"set","p":"chack_talk_countdown","pt":"global","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":225,"wires":[[]]},{"id":"cbe2bc69.d349d","type":"link out","z":"9692a37d.5f08d","name":"","links":["457ada59.6236f4"],"x":1235,"y":267,"wires":[]},{"id":"ccaa4ab8.87b048","type":"link out","z":"9692a37d.5f08d","name":"","links":["457ada59.6236f4"],"x":2110,"y":120,"wires":[]},{"id":"9157278f.aa96b8","type":"change","z":"9692a37d.5f08d","name":"","rules":[{"t":"set","p":"check_question","pt":"global","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1953,"y":120,"wires":[["ccaa4ab8.87b048"]]},{"id":"38e2dc5.d645624","type":"switch","z":"4884d1b9.6de13","name":"state","property":"state","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":160,"wires":[[],[]]},{"id":"b1e9b5f6.c28308","type":"change","z":"552acbb0.493cf4","name":"state","rules":[{"t":"set","p":"state","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":260,"wires":[[]]},{"id":"142f4a14.b9da56","type":"function","z":"c50d3b5f.79a9e8","name":"","func":"var payload = global.set(\"answer\")\nvar answer = \n    [\n    \"ไก่จิกเด็กตายบนปากโอ่ง\",\"แมวกันมันแกว\",\n    \" แมวเล้าเมาแล้ว\",\"สบู่ลักส์\",\"ขนมจีบซาลาเปา\"\n    ]\nfor(var i =0 ; i<answer.length;i++){\n    if(payload == answer[i]){\n        msg.payload = 1;\n        break;\n    }\n    else{\n        msg.payload = 0;\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["9961ae52.4be78"]]},{"id":"82d3747c.dc4d68","type":"mqtt in","z":"a3c974bd.ce9f68","name":"","topic":"module/listening/text","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":280,"y":360,"wires":[["c17ecda3.620a6"]]},{"id":"c17ecda3.620a6","type":"change","z":"a3c974bd.ce9f68","name":"","rules":[{"t":"set","p":"answer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":360,"wires":[[]]},{"id":"9961ae52.4be78","type":"switch","z":"c50d3b5f.79a9e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":320,"wires":[["3b7af1a6.662b2e"],["3b387663.9c246a"]]},{"id":"3b7af1a6.662b2e","type":"function","z":"c50d3b5f.79a9e8","name":"","func":"msg.payload = \"question,\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["58fe5c41.c90a34"]]},{"id":"6a0b2dc4.8b7834","type":"link in","z":"552acbb0.493cf4","name":"","links":["5eb8a32d.bf3b9c"],"x":95,"y":120,"wires":[["98b63ab7.1459e8"]]},{"id":"5eb8a32d.bf3b9c","type":"link out","z":"552acbb0.493cf4","name":"","links":["6a0b2dc4.8b7834"],"x":695,"y":180,"wires":[]}]