flows/flows (4).json
[{"id":"92e4f5d6.d4c358","type":"tab","label":"Motors","disabled":false,"info":""},{"id":"de83c066.d59c5","type":"tab","label":"Listening","disabled":false,"info":""},{"id":"c233ac79.f1c92","type":"tab","label":"Brain","disabled":false,"info":""},{"id":"a3c974bd.ce9f68","type":"tab","label":"All_Init","disabled":false,"info":""},{"id":"552acbb0.493cf4","type":"subflow","name":"listening_1","info":"","category":"","in":[{"x":120,"y":300,"wires":[{"id":"98b63ab7.1459e8"}]}],"out":[{"x":460,"y":360,"wires":[{"id":"98b63ab7.1459e8","port":1},{"id":"e4fe85b1.5cbbf8","port":1}]},{"x":1140,"y":280,"wires":[{"id":"8d28ccd7.b9651","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9692a37d.5f08d","type":"subflow","name":"listening_2","info":"","category":"","in":[{"x":60,"y":382,"wires":[{"id":"2b9f55e.f5423aa"}]}],"out":[{"x":720,"y":460,"wires":[{"id":"f0ef2b3f.0c1528","port":0}]},{"x":2680,"y":240,"wires":[{"id":"a7ca4653.1e9538","port":0}]},{"x":1000,"y":300,"wires":[{"id":"5aa0b7e8.676008","port":0},{"id":"60f76d4a.ad4bd4","port":1}]},{"x":2060,"y":380,"wires":[{"id":"b7895df4.690ce","port":3}]}],"env":[],"color":"#DDAA99"},{"id":"c50d3b5f.79a9e8","type":"subflow","name":"Question","info":"","category":"","in":[{"x":240,"y":360,"wires":[{"id":"43be7413.fd7d2c"},{"id":"6da54cf0.6e51a4"}]}],"out":[{"x":1020,"y":260,"wires":[{"id":"3b387663.9c246a","port":0},{"id":"3b7af1a6.662b2e","port":0},{"id":"53250e7c.c91f1","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b2e2cd7e.e0f84","type":"subflow","name":"status wait ","info":"","category":"","in":[{"x":160,"y":220,"wires":[{"id":"3ab22110.9574ce"}]}],"out":[{"x":900,"y":180,"wires":[{"id":"b2cd926b.3682","port":1}]},{"x":1080,"y":160,"wires":[{"id":"b2cd21f7.af95","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4884d1b9.6de13","type":"subflow","name":"looking","info":"","category":"","in":[{"x":40,"y":180,"wires":[{"id":"60d3bd4b.b48d84"}]}],"out":[{"x":940,"y":201,"wires":[{"id":"33794395.bcfdac","port":0}]},{"x":760,"y":300,"wires":[{"id":"b8b0028f.e5757","port":0},{"id":"38e2dc5.d645624","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"a628b44a.179ac8","type":"subflow","name":"init","info":"","category":"","in":[{"x":40,"y":60,"wires":[{"id":"ef266723.9cb178"}]}],"out":[{"x":460,"y":60,"wires":[{"id":"ef266723.9cb178","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d7e09c0f.80f17","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a6c31ab5.ae5d98","type":"mqtt in","z":"de83c066.d59c5","name":"","topic":"backend/listening/text","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":240,"y":360,"wires":[["2a30cf44.fa24c"]]},{"id":"88909aaf.919818","type":"function","z":"de83c066.d59c5","name":"ค้นหาคำสั่ง","func":"var payload = msg.payload\nvar search = \n    [\n    \"ถ่ายรูป\",\"เริ่มทำงาน\",\"หยุดทำงาน\",\"เปิด,ไฟ\",\n    \"ปิด,ไฟ\",\"สวัสดี\",\"ไก่จิกเด็กตายบนปากโอ่ง\",\"แมวกันมันแกว\",\n    \"แมวเล้าเมาแล้ว\",\"สบู่ลักส์\",\"ขนมจีบซาลาเปา\"\n    ]\nvar str0 = \"\"\n\nfor(var i=0;i<search.length;i++){\n    var str1 =search[i].split(\",\")\n    for(var k=0;k<str1.length;k++){\n        if(payload.search(str1[k]) != -1 && payload.search(str1[0]) != -1){\n            str0 = str0+str1[k]\n        }\n    }\n    if(str0 == \"เปิดไฟ\"){\n        global.set(\"LED\",str0);\n        str0 = str0+payload\n    }\n    if(str0 == \"ปิดไฟ\"){\n        global.set(\"LED\",str0);\n    }\n    if(str0!= \"\"){\n        break\n    }\n}\nif(str0 == \"\"){\n    str0 = \"ไม่เข้าใจ\"\n}\nmsg.payload = str0\nstr0 = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":360,"wires":[["1802b5c6.433d6a","7ecf738b.c3b0ac"]]},{"id":"1802b5c6.433d6a","type":"switch","z":"de83c066.d59c5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"เปิดไฟ","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":870,"y":400,"wires":[["ce4fb27b.70c05"],["d7973913.b18d78"]]},{"id":"ce4fb27b.70c05","type":"function","z":"de83c066.d59c5","name":"เปิดไฟ","func":"var payload = msg.payload\nvar color = [\"de\",\"ขาว\",\"แดง\",\"ส้ม\",\"น้ำเงิน\",\"เขียว\",\"ม่วง\",\"ชมพู\",\"เหลือง\",\"ฟ้า\"]\nvar all_str = new Array(20)\nvar str = \"เปิดไฟ,\"\n\nfor(var i=0;i<color.length;i++){\n    if(payload.search(color[i]) != -1){\n        for(var k=0;k<=all_str.length;k++){\n            if(all_str[k] == null){\n                all_str[k] = payload.indexOf(color[i])\n                break;\n            }\n            \n        }\n    }\n}\n\n\nall_str.sort(function(a, b){return a-b});\nfor(var a=0;a<all_str.length;a++){\n    if(all_str[a]!=null){\n        for(var b=0;b<color.length;b++){\n            if(payload.indexOf(color[b]) == all_str[a] ){\n                str = str+b+\",\"\n                break\n            }\n        }\n    }\n    else{\n        break\n    }\n}\n\nmsg.payload = str\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":360,"wires":[["d7973913.b18d78"]]},{"id":"d7973913.b18d78","type":"mqtt out","z":"de83c066.d59c5","name":"","topic":"module/listening/text","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1080,"y":440,"wires":[]},{"id":"2a30cf44.fa24c","type":"switch","z":"de83c066.d59c5","name":"เช็คสถานะFOBI","property":"status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":480,"y":360,"wires":[["88909aaf.919818","7391268.d5678d8","ee9a53d2.386f9"]]},{"id":"2b9f55e.f5423aa","type":"switch","z":"9692a37d.5f08d","name":"ตรวจว่าเห็นหน้าคนหรือไม่","property":"see","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":380,"wires":[["86505159.f3b51","c37eba40.b08998","2afc6da3.1a5162"],["bdb023f1.bca42","86505159.f3b51"]]},{"id":"fe7cf5c8.e68a58","type":"countdown","z":"9692a37d.5f08d","name":"","topic":"","payloadTimerStart":"1","payloadTimerStartType":"str","payloadTimerStop":"0","payloadTimerStopType":"str","timer":"5","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":170,"y":262,"wires":[["346843f8.0620ac"],[]]},{"id":"33e2f290.cb4b9e","type":"change","z":"9692a37d.5f08d","name":"Set ไม่เห็นหน้า","rules":[{"t":"set","p":"check_face","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":220,"wires":[["bd552a5a.943158"]]},{"id":"bdb023f1.bca42","type":"switch","z":"9692a37d.5f08d","name":"","property":"check_face","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":410,"y":480,"wires":[["f0ef2b3f.0c1528"],["c37eba40.b08998"],["d7efcbf0.af0628"]]},{"id":"be364ed.34106b","type":"mqtt in","z":"92e4f5d6.d4c358","name":"backed/eyes/face/x","topic":"backend/eyes/face/x","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":290,"y":160,"wires":[["709c6463.54d80c","5cfe3982.13aa88"]]},{"id":"13184aa6.1bda45","type":"mqtt in","z":"92e4f5d6.d4c358","name":"backend/eyes/face/y","topic":"backend/eyes/face/y","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":290,"y":440,"wires":[["fbba43f2.5e301","5cfe3982.13aa88"]]},{"id":"709c6463.54d80c","type":"switch","z":"92e4f5d6.d4c358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"180","vt":"num"},{"t":"lt","v":"140","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":660,"y":160,"wires":[["ea5c62e2.77e1b"],["85b68785.22a128"],["bb23a4dd.b8fcb8"]]},{"id":"fbba43f2.5e301","type":"switch","z":"92e4f5d6.d4c358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"150","vt":"num"},{"t":"lt","v":"90","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":660,"y":440,"wires":[["4be9b0f4.99f75"],["335f6d26.a28082"],["70e2c05a.9f1"]]},{"id":"85b68785.22a128","type":"change","z":"92e4f5d6.d4c358","name":"Left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":100,"wires":[["4c35c654.bb4dc8"]]},{"id":"ea5c62e2.77e1b","type":"change","z":"92e4f5d6.d4c358","name":"Right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":160,"wires":[["4c35c654.bb4dc8"]]},{"id":"4be9b0f4.99f75","type":"change","z":"92e4f5d6.d4c358","name":"Down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":380,"wires":[["4c35c654.bb4dc8"]]},{"id":"335f6d26.a28082","type":"change","z":"92e4f5d6.d4c358","name":"Up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":460,"wires":[["4c35c654.bb4dc8"]]},{"id":"bb23a4dd.b8fcb8","type":"change","z":"92e4f5d6.d4c358","name":"DisableX","rules":[{"t":"set","p":"payload","pt":"msg","to":"disableX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":240,"wires":[["4c35c654.bb4dc8"]]},{"id":"70e2c05a.9f1","type":"change","z":"92e4f5d6.d4c358","name":"DisableY","rules":[{"t":"set","p":"payload","pt":"msg","to":"disableY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":540,"wires":[["4c35c654.bb4dc8"]]},{"id":"4c35c654.bb4dc8","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/rotate","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1350,"y":280,"wires":[]},{"id":"be2d9b2e.7a1758","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":490,"y":100,"wires":[["85b68785.22a128"]]},{"id":"8faa6ebe.583a8","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":200,"wires":[["ea5c62e2.77e1b"]]},{"id":"1bc9ec55.803854","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":260,"wires":[["bb23a4dd.b8fcb8"]]},{"id":"d94cef3c.47d59","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":400,"wires":[["4be9b0f4.99f75"]]},{"id":"a86c345b.c1e418","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":480,"wires":[["335f6d26.a28082"]]},{"id":"c82c2b72.516528","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":560,"wires":[["70e2c05a.9f1"]]},{"id":"5fa7c3b8.7b9aac","type":"change","z":"92e4f5d6.d4c358","name":"Center","rules":[{"t":"set","p":"payload","pt":"msg","to":"center","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":300,"wires":[["4c35c654.bb4dc8"]]},{"id":"7fd5d27a.84cc5c","type":"inject","z":"92e4f5d6.d4c358","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":340,"wires":[["5fa7c3b8.7b9aac"]]},{"id":"d6cf468a.487808","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/speed/2","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1130,"y":780,"wires":[]},{"id":"59818759.322ae8","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/angle/2/min","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1190,"y":900,"wires":[]},{"id":"3560579a.00cab8","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/angle/2/max","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1190,"y":980,"wires":[]},{"id":"254b71e3.5b2d6e","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/angle/3/min","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1190,"y":1060,"wires":[]},{"id":"1eb821b6.11ccce","type":"mqtt out","z":"92e4f5d6.d4c358","name":"","topic":"module/motor/angle/3/max","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1190,"y":1140,"wires":[]},{"id":"21f066bc.c5194a","type":"link in","z":"9692a37d.5f08d","name":"","links":["7874b2fa.1b76ec","fbf37c0b.9c117","96e646ca.aec658","9c61fbaf.abf8e8","3700fdb8.3fdc22","f490edbe.02985"],"x":55,"y":262,"wires":[["fe7cf5c8.e68a58"]]},{"id":"7874b2fa.1b76ec","type":"link out","z":"9692a37d.5f08d","name":"","links":["21f066bc.c5194a","479b85d8.c356fc","f0da60aa.b4ccf","b252bcd3.a8121","c8b96d8e.6e4e9"],"x":595,"y":320,"wires":[]},{"id":"1dcf67a3.7a9c38","type":"change","z":"9692a37d.5f08d","name":"Set เป็น msg","rules":[{"t":"set","p":"payload","pt":"msg","to":"answer","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":240,"wires":[["2110a7df.fbf2a8","b7895df4.690ce"]]},{"id":"2110a7df.fbf2a8","type":"switch","z":"9692a37d.5f08d","name":"สนทนา","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"สวัสดี","vt":"str","case":false},{"t":"regex","v":"ไม่เข้าใจ","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":2,"x":1930,"y":180,"wires":[["7efea75c.337438"],["dd4bc277.a1484"]]},{"id":"7efea75c.337438","type":"function","z":"9692a37d.5f08d","name":"สวัสดี","func":"if(global.get(\"talk\") >= 2){\n    msg.payload = \"talk,\"+\"ลำคาญ\"+\",\"\n    return msg\n}\nelse{\n    var payload = global.get(\"talk\")\n    payload = payload+1;\n    global.set(\"talk\",payload)\n    msg.payload = \"talk,\"+\"สวัสดี\"+\",\"\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2084,"y":160,"wires":[["3b38390b.e745b6"]]},{"id":"ff88961c.1f6198","type":"mqtt out","z":"9692a37d.5f08d","name":"","topic":"module/talking/id","qos":"","retain":"","broker":"d7e09c0f.80f17","x":2670,"y":180,"wires":[]},{"id":"b7895df4.690ce","type":"switch","z":"9692a37d.5f08d","name":"คำสั่ง","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"เปิดไฟ","vt":"str","case":false},{"t":"regex","v":"ปิดไฟ","vt":"str","case":false},{"t":"regex","v":"ถ่ายรูป","vt":"str","case":false},{"t":"regex","v":"หยุดทำงาน","vt":"str","case":false}],"checkall":"false","repair":false,"outputs":4,"x":1930,"y":300,"wires":[["b410c953.eccb48","2ff85bf2.2c6564"],["b410c953.eccb48","2ff85bf2.2c6564"],["130cd77b.4df9c9"],["ae903e82.8fdfb"]]},{"id":"b410c953.eccb48","type":"mqtt out","z":"9692a37d.5f08d","name":"","topic":"module/led/request","qos":"","retain":"","broker":"d7e09c0f.80f17","x":2122,"y":282,"wires":[]},{"id":"2ff85bf2.2c6564","type":"function","z":"9692a37d.5f08d","name":"เสียงเปิด / ปิดไฟ","func":"global.set(\"LED_listening\",global.get(\"LED\"));\nmsg.payload = \"talk,\"+global.get(\"LED_listening\")+\",\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2120,"y":240,"wires":[["a39317a0.4012c8","3b38390b.e745b6"]]},{"id":"130cd77b.4df9c9","type":"change","z":"9692a37d.5f08d","name":"เสียงถ่ายรูป","rules":[{"t":"set","p":"payload","pt":"msg","to":"talk,Camera,","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2101,"y":322,"wires":[["a39317a0.4012c8","3b38390b.e745b6","fa1f208c.83d95"]]},{"id":"fa1f208c.83d95","type":"mqtt out","z":"9692a37d.5f08d","name":"","topic":"module/camera/request","qos":"","retain":"","broker":"d7e09c0f.80f17","x":2290,"y":360,"wires":[]},{"id":"7fd1dae7.25add4","type":"change","z":"9692a37d.5f08d","name":"Re พูดสวัสดีซ้ำ","rules":[{"t":"set","p":"talk","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2511,"y":322,"wires":[[]]},{"id":"4d9c8d70.b74fc4","type":"link in","z":"9692a37d.5f08d","name":"","links":["a39317a0.4012c8"],"x":2386,"y":322,"wires":[["7fd1dae7.25add4"]]},{"id":"a39317a0.4012c8","type":"link out","z":"9692a37d.5f08d","name":"","links":["4d9c8d70.b74fc4"],"x":2306,"y":322,"wires":[]},{"id":"dd4bc277.a1484","type":"function","z":"9692a37d.5f08d","name":"ไม่เข้าใจ","func":"var payload = msg.payload\nvar number = Math.floor((Math.random() * 3) + 1)\nmsg.payload = \"talk,\"+payload+number+\",\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2092,"y":200,"wires":[["3b38390b.e745b6"]]},{"id":"3b38390b.e745b6","type":"change","z":"9692a37d.5f08d","name":"Set สถานะพูด FOBI","rules":[{"t":"set","p":"answer","pt":"global","to":"\" \"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2430,"y":180,"wires":[["ff88961c.1f6198","a7ca4653.1e9538","191fc1d5.d19a3e"]]},{"id":"457ada59.6236f4","type":"link in","z":"9692a37d.5f08d","name":"","links":["3da6f2b1.d235be","5eab604d.e133c","afe540f.160d1c","cbe2bc69.d349d","ccaa4ab8.87b048","3142301d.076de"],"x":55,"y":440,"wires":[["2b9f55e.f5423aa"]]},{"id":"7391268.d5678d8","type":"change","z":"de83c066.d59c5","name":"Set มีการพูดอยู่หรือไม่","rules":[{"t":"set","p":"check_talk","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":420,"wires":[[]]},{"id":"a19e78fe.3f7d28","type":"switch","z":"9692a37d.5f08d","name":"","property":"chack_talk_countdown","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":913,"y":411,"wires":[["5aa0b7e8.676008"],["cbe2bc69.d349d"],["bd53b529.9c1c38"]]},{"id":"18a9d463.a1b30c","type":"countdown","z":"9692a37d.5f08d","name":"","topic":"","payloadTimerStart":"1","payloadTimerStartType":"str","payloadTimerStop":"0","payloadTimerStopType":"str","timer":"16","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":1130,"y":240,"wires":[["22a612ae.aee92e"],[]]},{"id":"bd53b529.9c1c38","type":"change","z":"9692a37d.5f08d","name":"เริ่มจับเวลา","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1083,"y":431,"wires":[["18a9d463.a1b30c"]]},{"id":"3bd9744f.52d94c","type":"switch","z":"9692a37d.5f08d","name":"มีคนพูดหรือไม่","property":"check_talk","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":380,"wires":[["2dcb9fdc.1ebdf"],["a19e78fe.3f7d28"]]},{"id":"2dcb9fdc.1ebdf","type":"change","z":"9692a37d.5f08d","name":"ยกเลิกจับเวลา","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":280,"wires":[["18a9d463.a1b30c"]]},{"id":"e482825b.93526","type":"change","z":"9692a37d.5f08d","name":"","rules":[{"t":"set","p":"chack_talk_countdown","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"check_question","pt":"global","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":300,"wires":[["62b2554b.8e9b9c"]]},{"id":"6118804a.4f1f3","type":"switch","z":"9692a37d.5f08d","name":"","property":"check_talk","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1450,"y":240,"wires":[["14a3bfee.612ab"],["e482825b.93526"]]},{"id":"14a3bfee.612ab","type":"change","z":"9692a37d.5f08d","name":"Set countdown","rules":[{"t":"set","p":"chack_talk_countdown","pt":"global","to":"stop","tot":"str"},{"t":"set","p":"check_question","pt":"global","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":240,"wires":[["1dcf67a3.7a9c38"]]},{"id":"188664d0.80516b","type":"change","z":"9692a37d.5f08d","name":"ยกเลิกจับเวลา","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":320,"wires":[["7874b2fa.1b76ec"]]},{"id":"f490edbe.02985","type":"link out","z":"9692a37d.5f08d","name":"","links":["21f066bc.c5194a","c8b96d8e.6e4e9"],"x":315,"y":557,"wires":[]},{"id":"d7efcbf0.af0628","type":"change","z":"9692a37d.5f08d","name":"เริ่มจับเวลา","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":537,"wires":[["f490edbe.02985","2b9f55e.f5423aa"]]},{"id":"19b40512.14820b","type":"inject","z":"c233ac79.f1c92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":180,"y":200,"wires":[["bff4d3c1.9c215","3b7a0f96.56e88"]]},{"id":"9849960e.bdbdb8","type":"subflow:552acbb0.493cf4","z":"c233ac79.f1c92","name":"","env":[],"x":490,"y":200,"wires":[["2a5008ef.d333a8","6a192dae.387024"],["4afee95f.71c6b8","b2115aec.8c4498"]]},{"id":"6e5d0407.a544fc","type":"change","z":"a3c974bd.ce9f68","name":"","rules":[{"t":"set","p":"see","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[[]]},{"id":"9ea401fe.851d2","type":"mqtt in","z":"a3c974bd.ce9f68","name":"","topic":"module/eyes/skin/see","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":280,"y":160,"wires":[["6e5d0407.a544fc"]]},{"id":"98b63ab7.1459e8","type":"switch","z":"552acbb0.493cf4","name":"see","property":"see","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":300,"wires":[["e4fe85b1.5cbbf8"],["d0cb3a98.01dd88"]]},{"id":"ec9a7f8.9e8cc8","type":"switch","z":"552acbb0.493cf4","name":"text","property":"answer","propertyType":"global","rules":[{"t":"regex","v":"เริ่มทำงาน","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":630,"y":300,"wires":[["b1e9b5f6.c28308"],["5eb8a32d.bf3b9c"]]},{"id":"2bd9000.0c026","type":"random","z":"c50d3b5f.79a9e8","name":"random คำถาม","low":"1","high":"5","inte":"true","property":"payload","x":520,"y":380,"wires":[["5662a9a6.f0f218"]]},{"id":"5662a9a6.f0f218","type":"function","z":"c50d3b5f.79a9e8","name":"","func":"global.set(\"questionA\",msg.payload)\nmsg.payload = \"question,\"+\"Q\"+msg.payload+\",\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":380,"wires":[["5f985c94.78eaf4","19eb21b8.1cdd9e","53250e7c.c91f1"]]},{"id":"5f985c94.78eaf4","type":"mqtt out","z":"c50d3b5f.79a9e8","name":"","topic":"module/talking/id","qos":"","retain":"","broker":"d7e09c0f.80f17","x":890,"y":400,"wires":[]},{"id":"fdbc40ec.54dbd","type":"link in","z":"b2e2cd7e.e0f84","name":"","links":["80bda669.718318"],"x":395,"y":260,"wires":[["49789c98.3601c4"]]},{"id":"49789c98.3601c4","type":"switch","z":"b2e2cd7e.e0f84","name":"เช็คสถานะ FOBI พูดเสร็จหรือยัง","property":"module/talking/result","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":570,"y":238,"wires":[["80bda669.718318"],["b2cd926b.3682"]]},{"id":"80bda669.718318","type":"link out","z":"b2e2cd7e.e0f84","name":"","links":["fdbc40ec.54dbd"],"x":715,"y":280,"wires":[]},{"id":"1621165d.f1883a","type":"change","z":"b2e2cd7e.e0f84","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"status","pt":"global","to":"1","tot":"str"},{"t":"set","p":"check_talk","pt":"global","to":"0","tot":"str"},{"t":"set","p":"check_out","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":260,"wires":[["a6dc8012.1e96e"]]},{"id":"a6dc8012.1e96e","type":"mqtt out","z":"b2e2cd7e.e0f84","name":"","topic":"status","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1070,"y":260,"wires":[]},{"id":"3b387663.9c246a","type":"function","z":"c50d3b5f.79a9e8","name":"","func":"var payload = global.get(\"questionA\")\nmsg.payload = \"question,\"+\"A\"+payload+\",\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":320,"wires":[["58fe5c41.c90a34"]]},{"id":"58fe5c41.c90a34","type":"mqtt out","z":"c50d3b5f.79a9e8","name":"","topic":"module/talking/id","qos":"","retain":"","broker":"d7e09c0f.80f17","x":830,"y":272,"wires":[]},{"id":"43be7413.fd7d2c","type":"switch","z":"c50d3b5f.79a9e8","name":"","property":"check_question","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":350,"y":360,"wires":[["142f4a14.b9da56","6f9c9573.2e13ec"],["2bd9000.0c026","c909238e.38ae2"]]},{"id":"4ae6fde4.9747b4","type":"subflow:9692a37d.5f08d","z":"c233ac79.f1c92","name":"","env":[],"x":830,"y":240,"wires":[["cf481aba.6b4288","ef4d8587.6f1598"],["a10ded95.7435d","f96f7b8c.257828"],["111d77ea.3ab458","42f3f1a2.37874"],["5d5cf626.1c5d78"]]},{"id":"4afee95f.71c6b8","type":"subflow:b2e2cd7e.e0f84","z":"c233ac79.f1c92","name":"","env":[],"x":670,"y":320,"wires":[["4ae6fde4.9747b4","3c8b1bb9.627754"],["7a2ab89f.55f7c8","5256c2b4.64437c"]]},{"id":"111d77ea.3ab458","type":"subflow:c50d3b5f.79a9e8","z":"c233ac79.f1c92","name":"","env":[],"x":1040,"y":360,"wires":[["a10ded95.7435d","b39a3c4d.cb975"]]},{"id":"fc79129.a0ac8f","type":"link in","z":"c233ac79.f1c92","name":"","links":["a10ded95.7435d"],"x":535,"y":360,"wires":[["4afee95f.71c6b8"]]},{"id":"a10ded95.7435d","type":"link out","z":"c233ac79.f1c92","name":"","links":["fc79129.a0ac8f"],"x":1075,"y":320,"wires":[]},{"id":"c37eba40.b08998","type":"switch","z":"9692a37d.5f08d","name":"FOBI ได้ถามคำถามไหม","property":"check_question","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":560,"y":360,"wires":[["60f76d4a.ad4bd4"],["3bd9744f.52d94c"]]},{"id":"60c3f625.74ad98","type":"switch","z":"4884d1b9.6de13","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":160,"y":400,"wires":[["d122a5f.420a658"],["792cd0d9.42207"],["b533d382.64f23"],["1e70ce72.c28382"],["9267043f.b78918"]]},{"id":"60d3bd4b.b48d84","type":"switch","z":"4884d1b9.6de13","name":"see","property":"see","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":180,"wires":[["38e2dc5.d645624"],["3fedbd3b.7a46e2","c65ae9b7.075c98"]]},{"id":"3fedbd3b.7a46e2","type":"random","z":"4884d1b9.6de13","name":"","low":"1","high":"5","inte":"true","property":"payload","x":180,"y":280,"wires":[["60c3f625.74ad98"]]},{"id":"d122a5f.420a658","type":"change","z":"4884d1b9.6de13","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":340,"wires":[["da5da142.1c2be","b8b0028f.e5757"]]},{"id":"792cd0d9.42207","type":"change","z":"4884d1b9.6de13","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["da5da142.1c2be","b8b0028f.e5757"]]},{"id":"b533d382.64f23","type":"change","z":"4884d1b9.6de13","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":420,"wires":[["da5da142.1c2be","b8b0028f.e5757"]]},{"id":"1e70ce72.c28382","type":"change","z":"4884d1b9.6de13","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":460,"wires":[["da5da142.1c2be","b8b0028f.e5757"]]},{"id":"9267043f.b78918","type":"change","z":"4884d1b9.6de13","name":"center","rules":[{"t":"set","p":"payload","pt":"msg","to":"center","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":500,"wires":[["da5da142.1c2be","b8b0028f.e5757"]]},{"id":"da5da142.1c2be","type":"mqtt out","z":"4884d1b9.6de13","name":"","topic":"module/motor/rotate","qos":"","retain":"","broker":"d7e09c0f.80f17","x":650,"y":580,"wires":[]},{"id":"2a5008ef.d333a8","type":"subflow:4884d1b9.6de13","z":"c233ac79.f1c92","name":"","env":[],"x":440,"y":440,"wires":[["4afee95f.71c6b8","5cfa4b26.7187d4"],["9849960e.bdbdb8","e7953f67.2964"]]},{"id":"bff4d3c1.9c215","type":"subflow:a628b44a.179ac8","z":"c233ac79.f1c92","name":"","env":[],"x":330,"y":200,"wires":[["9849960e.bdbdb8","2277f8e6.7f2b88"]]},{"id":"ef266723.9cb178","type":"change","z":"a628b44a.179ac8","name":"state","rules":[{"t":"set","p":"state","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":60,"wires":[["121fc826.59f8c8","e5ff1667.42d138"]]},{"id":"b8b0028f.e5757","type":"delay","z":"4884d1b9.6de13","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":400,"wires":[[]]},{"id":"cbe2bc69.d349d","type":"link out","z":"9692a37d.5f08d","name":"","links":["457ada59.6236f4"],"x":1021,"y":399,"wires":[]},{"id":"ccaa4ab8.87b048","type":"link out","z":"9692a37d.5f08d","name":"","links":["457ada59.6236f4"],"x":1792,"y":309,"wires":[]},{"id":"38e2dc5.d645624","type":"switch","z":"4884d1b9.6de13","name":"state","property":"state","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":160,"wires":[["33794395.bcfdac"],[]]},{"id":"b1e9b5f6.c28308","type":"change","z":"552acbb0.493cf4","name":"state","rules":[{"t":"set","p":"state","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":280,"wires":[["8d28ccd7.b9651"]]},{"id":"142f4a14.b9da56","type":"function","z":"c50d3b5f.79a9e8","name":"","func":"var payload = global.set(\"answer\")\nvar answer = \n    [\n    \"ไก่จิกเด็กตายบนปากโอ่ง\",\"แมวกันมันแกว\",\n    \" แมวเล้าเมาแล้ว\",\"สบู่ลักส์\",\"ขนมจีบซาลาเปา\"\n    ]\nfor(var i =0 ; i<answer.length;i++){\n    if(payload == answer[i]){\n        msg.payload = 1;\n        break;\n    }\n    else{\n        msg.payload = 0;\n    }\n}\nglobal.set(\"check_question\",\"1\")\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["9961ae52.4be78"]]},{"id":"82d3747c.dc4d68","type":"mqtt in","z":"a3c974bd.ce9f68","name":"","topic":"module/listening/text","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":270,"y":240,"wires":[["c17ecda3.620a6"]]},{"id":"c17ecda3.620a6","type":"change","z":"a3c974bd.ce9f68","name":"","rules":[{"t":"set","p":"answer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":240,"wires":[[]]},{"id":"9961ae52.4be78","type":"switch","z":"c50d3b5f.79a9e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":320,"wires":[["3b7af1a6.662b2e","cf0e033d.89f9f"],["3b387663.9c246a","cf0e033d.89f9f"]]},{"id":"3b7af1a6.662b2e","type":"function","z":"c50d3b5f.79a9e8","name":"","func":"msg.payload = \"question,\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":220,"wires":[["58fe5c41.c90a34"]]},{"id":"6a0b2dc4.8b7834","type":"link in","z":"552acbb0.493cf4","name":"","links":["5eb8a32d.bf3b9c"],"x":115,"y":240,"wires":[["98b63ab7.1459e8"]]},{"id":"5eb8a32d.bf3b9c","type":"link out","z":"552acbb0.493cf4","name":"","links":["6a0b2dc4.8b7834"],"x":715,"y":240,"wires":[]},{"id":"5329b523.d43e2c","type":"change","z":"552acbb0.493cf4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":180,"wires":[["58d876a0.22d6d8","55544552.a6ce6c"]]},{"id":"58d876a0.22d6d8","type":"mqtt out","z":"552acbb0.493cf4","name":"","topic":"status","qos":"","retain":"","broker":"d7e09c0f.80f17","x":931,"y":187,"wires":[]},{"id":"8d28ccd7.b9651","type":"change","z":"552acbb0.493cf4","name":"","rules":[{"t":"set","p":"check_state","pt":"global","to":"1","tot":"str"},{"t":"set","p":"check_talk","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":280,"wires":[[]]},{"id":"b2cd926b.3682","type":"switch","z":"b2e2cd7e.e0f84","name":"","property":"check_state","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":770,"y":180,"wires":[["b2cd21f7.af95"],["1621165d.f1883a","efdf9979.4c4fd8"]]},{"id":"b27f4f5a.572b4","type":"link in","z":"c233ac79.f1c92","name":"","links":["7a2ab89f.55f7c8","cf481aba.6b4288"],"x":335,"y":520,"wires":[["2a5008ef.d333a8"]]},{"id":"7a2ab89f.55f7c8","type":"link out","z":"c233ac79.f1c92","name":"","links":["b27f4f5a.572b4"],"x":775,"y":360,"wires":[]},{"id":"7ecf738b.c3b0ac","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":300,"wires":[["5af2a674.ddba78","1f617877.9a1d88","acab602b.15cea"]]},{"id":"5af2a674.ddba78","type":"mqtt out","z":"de83c066.d59c5","name":"","topic":"status","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1050,"y":300,"wires":[]},{"id":"1f617877.9a1d88","type":"change","z":"de83c066.d59c5","name":"set สถานะFOBI","rules":[{"t":"set","p":"status","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":260,"wires":[[]]},{"id":"e4fe85b1.5cbbf8","type":"switch","z":"552acbb0.493cf4","name":"","property":"state","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":450,"y":280,"wires":[["6898cd8e.dd32b4"],[]]},{"id":"b2cd21f7.af95","type":"change","z":"b2e2cd7e.e0f84","name":"","rules":[{"t":"set","p":"check_state","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":140,"wires":[[]]},{"id":"b6bf753.bc01988","type":"change","z":"9692a37d.5f08d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":60,"wires":[["2b1d0c23.f53b14","25dbc00c.347ad"]]},{"id":"2b1d0c23.f53b14","type":"mqtt out","z":"9692a37d.5f08d","name":"","topic":"status","qos":"","retain":"","broker":"d7e09c0f.80f17","x":290,"y":62,"wires":[]},{"id":"25dbc00c.347ad","type":"change","z":"9692a37d.5f08d","name":"set สถานะFOBI","rules":[{"t":"set","p":"status","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":20,"wires":[[]]},{"id":"4c93a485.5e4bdc","type":"change","z":"9692a37d.5f08d","name":"","rules":[{"t":"set","p":"check_see","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":102,"wires":[["b6bf753.bc01988"]]},{"id":"c0b34107.74d8","type":"link in","z":"9692a37d.5f08d","name":"","links":["86505159.f3b51"],"x":55,"y":142,"wires":[["ed37cb00.64efe8"]]},{"id":"86505159.f3b51","type":"link out","z":"9692a37d.5f08d","name":"","links":["c0b34107.74d8"],"x":415,"y":400,"wires":[]},{"id":"acab602b.15cea","type":"change","z":"de83c066.d59c5","name":"set สถานะฟัง","rules":[{"t":"set","p":"check_listening","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":200,"wires":[[]]},{"id":"ed37cb00.64efe8","type":"switch","z":"9692a37d.5f08d","name":"","property":"check_see","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":142,"wires":[["4c93a485.5e4bdc"]]},{"id":"efdf9979.4c4fd8","type":"change","z":"b2e2cd7e.e0f84","name":"set สถานะฟัง","rules":[{"t":"set","p":"check_listening","pt":"global","to":"1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":300,"wires":[[]]},{"id":"c65ae9b7.075c98","type":"debug","z":"4884d1b9.6de13","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":200,"wires":[]},{"id":"44ba7ec8.848f4","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"เริ่มทำงาน","payloadType":"str","x":240,"y":460,"wires":[["2a30cf44.fa24c"]]},{"id":"3985f320.3751ac","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"สวัสดี","payloadType":"str","x":230,"y":500,"wires":[["2a30cf44.fa24c"]]},{"id":"7727bfb7.0d689","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"start","payloadType":"str","x":210,"y":640,"wires":[["b90c8021.8f80e"]]},{"id":"b90c8021.8f80e","type":"change","z":"de83c066.d59c5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":640,"wires":[["e86b5cfd.bc2c9"]]},{"id":"e86b5cfd.bc2c9","type":"mqtt out","z":"de83c066.d59c5","name":"","topic":"module/talking/result","qos":"","retain":"","broker":"d7e09c0f.80f17","x":640,"y":620,"wires":[]},{"id":"91a71876.907d08","type":"mqtt in","z":"a3c974bd.ce9f68","name":"","topic":"module/talking/result","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":270,"y":320,"wires":[["1219bbd5.b85d24"]]},{"id":"1219bbd5.b85d24","type":"change","z":"a3c974bd.ce9f68","name":"","rules":[{"t":"set","p":"module/talking/result","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":320,"wires":[[]]},{"id":"55544552.a6ce6c","type":"change","z":"552acbb0.493cf4","name":"","rules":[{"t":"set","p":"check_see","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"status","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"check_status","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":120,"wires":[[]]},{"id":"121fc826.59f8c8","type":"change","z":"a628b44a.179ac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":140,"wires":[["a859b17a.695a5"]]},{"id":"a859b17a.695a5","type":"change","z":"a628b44a.179ac8","name":"set สถานะFOBI","rules":[{"t":"set","p":"status","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"state","pt":"global","to":"0","tot":"str"},{"t":"set","p":"answer","pt":"global","to":"stop","tot":"str"},{"t":"set","p":"module/talking/result","pt":"global","to":"0","tot":"str"},{"t":"set","p":"check_status","pt":"global","to":"0","tot":"str"},{"t":"set","p":"check_state","pt":"global","to":"1","tot":"str"},{"t":"set","p":"check_question","pt":"global","to":"1","tot":"str"},{"t":"set","p":"chack_talk_countdown","pt":"global","to":"stop","tot":"str"},{"t":"set","p":"check_face","pt":"global","to":"23","tot":"str"},{"t":"set","p":"check_out","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[[]]},{"id":"6898cd8e.dd32b4","type":"switch","z":"552acbb0.493cf4","name":"","property":"check_status","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":560,"y":240,"wires":[["5329b523.d43e2c","5eb8a32d.bf3b9c"],["ec9a7f8.9e8cc8"]]},{"id":"3ab22110.9574ce","type":"change","z":"b2e2cd7e.e0f84","name":"set รอ FOBI พูดเสร็จ","rules":[{"t":"set","p":"module/talking/result","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":220,"wires":[["49789c98.3601c4","f506522d.51f2a"]]},{"id":"eb5f329d.34a19","type":"change","z":"a3c974bd.ce9f68","name":"","rules":[{"t":"set","p":"status","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":380,"wires":[[]]},{"id":"83e08edb.68f29","type":"mqtt in","z":"a3c974bd.ce9f68","name":"","topic":"staus","qos":"2","datatype":"auto","broker":"d7e09c0f.80f17","x":240,"y":380,"wires":[["eb5f329d.34a19"]]},{"id":"a2e5a8d1.48e2b8","type":"change","z":"552acbb0.493cf4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":460,"wires":[["41cbe586.1fc35c"]]},{"id":"a7d5499a.976f28","type":"mqtt out","z":"552acbb0.493cf4","name":"","topic":"status","qos":"","retain":"","broker":"d7e09c0f.80f17","x":690,"y":420,"wires":[]},{"id":"d0cb3a98.01dd88","type":"switch","z":"552acbb0.493cf4","name":"","property":"status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":420,"wires":[["a2e5a8d1.48e2b8","8a2cedf6.f63b3"]]},{"id":"41cbe586.1fc35c","type":"change","z":"552acbb0.493cf4","name":"","rules":[{"t":"set","p":"check_see","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"status","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"check_status","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":460,"wires":[[]]},{"id":"e5ff1667.42d138","type":"change","z":"a628b44a.179ac8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[["eeaea322.5c575"]]},{"id":"eeaea322.5c575","type":"mqtt out","z":"a628b44a.179ac8","name":"","topic":"status","qos":"","retain":"","broker":"d7e09c0f.80f17","x":530,"y":180,"wires":[]},{"id":"cf481aba.6b4288","type":"link out","z":"c233ac79.f1c92","name":"","links":["b27f4f5a.572b4"],"x":919,"y":196,"wires":[]},{"id":"b7136167.fa742","type":"debug","z":"c50d3b5f.79a9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":500,"wires":[]},{"id":"c909238e.38ae2","type":"change","z":"c50d3b5f.79a9e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"state 1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":500,"wires":[["b7136167.fa742"]]},{"id":"a7590ff1.906e5","type":"debug","z":"c50d3b5f.79a9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":140,"wires":[]},{"id":"6f9c9573.2e13ec","type":"change","z":"c50d3b5f.79a9e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"state 2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":140,"wires":[["a7590ff1.906e5"]]},{"id":"19eb21b8.1cdd9e","type":"debug","z":"c50d3b5f.79a9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":460,"wires":[]},{"id":"f506522d.51f2a","type":"change","z":"b2e2cd7e.e0f84","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"รอพูดเสร็จ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["c4893b7d.9586d8"]]},{"id":"c4893b7d.9586d8","type":"debug","z":"b2e2cd7e.e0f84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":100,"wires":[]},{"id":"53250e7c.c91f1","type":"change","z":"c50d3b5f.79a9e8","name":"","rules":[{"t":"set","p":"check_question","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[[]]},{"id":"68b74cef.144a14","type":"mqtt out","z":"de83c066.d59c5","name":"","topic":"module/eyes/skin/see","qos":"","retain":"","broker":"d7e09c0f.80f17","x":440,"y":700,"wires":[]},{"id":"2efd7a8b.347696","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":210,"y":700,"wires":[["68b74cef.144a14"]]},{"id":"cf0e033d.89f9f","type":"debug","z":"c50d3b5f.79a9e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":180,"wires":[]},{"id":"5aa0b7e8.676008","type":"change","z":"9692a37d.5f08d","name":"set  countdown","rules":[{"t":"set","p":"chack_talk_countdown","pt":"global","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":971,"y":358,"wires":[[]]},{"id":"62b2554b.8e9b9c","type":"switch","z":"9692a37d.5f08d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1647,"y":309,"wires":[["ccaa4ab8.87b048"]]},{"id":"789983cd.a4ddcc","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":210,"y":740,"wires":[["68b74cef.144a14"]]},{"id":"a1e46089.d0532","type":"link in","z":"9692a37d.5f08d","name":"","links":["1e228293.2b55ed"],"x":615,"y":260,"wires":[["2dcb9fdc.1ebdf"]]},{"id":"1e228293.2b55ed","type":"link out","z":"9692a37d.5f08d","name":"","links":["a1e46089.d0532"],"x":715,"y":500,"wires":[]},{"id":"f0ef2b3f.0c1528","type":"change","z":"9692a37d.5f08d","name":"Set countdown","rules":[{"t":"set","p":"chack_talk_countdown","pt":"global","to":"stop","tot":"str"},{"t":"set","p":"check_question","pt":"global","to":"stop","tot":"str"},{"t":"set","p":"check_face","pt":"global","to":"stop","tot":"str"},{"t":"set","p":"check_out","pt":"global","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["1e228293.2b55ed"]]},{"id":"60f76d4a.ad4bd4","type":"switch","z":"9692a37d.5f08d","name":"","property":"status","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":859,"y":318,"wires":[["3142301d.076de"],[]]},{"id":"3142301d.076de","type":"link out","z":"9692a37d.5f08d","name":"","links":["457ada59.6236f4"],"x":935,"y":280,"wires":[]},{"id":"d37eacbe.321f8","type":"debug","z":"c233ac79.f1c92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"3b7a0f96.56e88","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"init","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["d37eacbe.321f8"]]},{"id":"2277f8e6.7f2b88","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"listening_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":120,"wires":[["d37eacbe.321f8"]]},{"id":"45ad33ee.2a1e5c","type":"debug","z":"c233ac79.f1c92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":160,"wires":[]},{"id":"6a192dae.387024","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"looking","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":738,"y":140,"wires":[["45ad33ee.2a1e5c"]]},{"id":"b2115aec.8c4498","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"status wait","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":180,"wires":[["45ad33ee.2a1e5c"]]},{"id":"5cfa4b26.7187d4","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"status wait","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":520,"wires":[["f8dba738.9303f8"]]},{"id":"f8dba738.9303f8","type":"debug","z":"c233ac79.f1c92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":460,"wires":[]},{"id":"fd9c5620.b51398","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"lisstening_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":480,"wires":[["f8dba738.9303f8"]]},{"id":"5256c2b4.64437c","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"looking","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":435,"wires":[["f8dba738.9303f8"]]},{"id":"3c8b1bb9.627754","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"listening_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":400,"wires":[["f8dba738.9303f8"]]},{"id":"ef4d8587.6f1598","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"looking","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":200,"wires":[["9ba2f68b.efd088"]]},{"id":"f96f7b8c.257828","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"status wait","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":240,"wires":[["9ba2f68b.efd088"]]},{"id":"42f3f1a2.37874","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Question","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":274,"wires":[["9ba2f68b.efd088"]]},{"id":"9ba2f68b.efd088","type":"debug","z":"c233ac79.f1c92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":260,"wires":[]},{"id":"b39a3c4d.cb975","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"status wait","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":380,"wires":[["9ba2f68b.efd088"]]},{"id":"6da54cf0.6e51a4","type":"change","z":"c50d3b5f.79a9e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":260,"wires":[["ab80d2e7.0c1aa","3d1bddf7.3f25a2"]]},{"id":"ab80d2e7.0c1aa","type":"mqtt out","z":"c50d3b5f.79a9e8","name":"","topic":"status","qos":"","retain":"","broker":"d7e09c0f.80f17","x":550,"y":262,"wires":[]},{"id":"3d1bddf7.3f25a2","type":"change","z":"c50d3b5f.79a9e8","name":"set สถานะFOBI","rules":[{"t":"set","p":"status","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[[]]},{"id":"95b31529.7fc888","type":"mqtt out","z":"de83c066.d59c5","name":"","topic":"status","qos":"","retain":"","broker":"d7e09c0f.80f17","x":350,"y":780,"wires":[]},{"id":"8900ed72.813d1","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":210,"y":780,"wires":[["95b31529.7fc888"]]},{"id":"a50f0173.d4dfa","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"str","x":210,"y":820,"wires":[["95b31529.7fc888"]]},{"id":"2afc6da3.1a5162","type":"switch","z":"9692a37d.5f08d","name":"","property":"check_face","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":350,"y":320,"wires":[["188664d0.80516b"]]},{"id":"346843f8.0620ac","type":"switch","z":"9692a37d.5f08d","name":"ตรวจว่าเห็นหน้าคนหรือไม่","property":"see","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":203,"y":212,"wires":[["c3151dbb.d4265"],["33e2f290.cb4b9e"]]},{"id":"c3151dbb.d4265","type":"change","z":"9692a37d.5f08d","name":"Set เห็นหน้า","rules":[{"t":"set","p":"check_face","pt":"global","to":"stop","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":180,"wires":[["c429177e.5a4198"]]},{"id":"9823ad9f.a8eac","type":"change","z":"9692a37d.5f08d","name":"Set เห็นหน้าอยู่หรือไม่","rules":[{"t":"set","p":"check_face","pt":"global","to":"1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":60,"wires":[[]]},{"id":"bd552a5a.943158","type":"change","z":"9692a37d.5f08d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"เริ่มจับเวลา","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":220,"wires":[["b18e134b.cf39d"]]},{"id":"b18e134b.cf39d","type":"debug","z":"9692a37d.5f08d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"c429177e.5a4198","type":"change","z":"9692a37d.5f08d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ยกเลิกจับเวลา","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":180,"wires":[["b18e134b.cf39d"]]},{"id":"1cea272.4d2acd9","type":"mqtt out","z":"4884d1b9.6de13","name":"","topic":"module/talking/id","qos":"","retain":"","broker":"d7e09c0f.80f17","x":1007,"y":152,"wires":[]},{"id":"33794395.bcfdac","type":"change","z":"4884d1b9.6de13","name":"Set สถานะพูด FOBI","rules":[{"t":"set","p":"payload","pt":"msg","to":"talk,สวัสดี,","tot":"str"},{"t":"set","p":"check_talk","pt":"global","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":153,"wires":[["1cea272.4d2acd9"]]},{"id":"5d5cf626.1c5d78","type":"link out","z":"c233ac79.f1c92","name":"","links":["bb6a5a25.be2b18"],"x":915,"y":320,"wires":[]},{"id":"bb6a5a25.be2b18","type":"link in","z":"c233ac79.f1c92","name":"","links":["5d5cf626.1c5d78"],"x":255,"y":240,"wires":[["bff4d3c1.9c215"]]},{"id":"562e4cb6.0d1914","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stop","payloadType":"str","x":470,"y":460,"wires":[["2a30cf44.fa24c"]]},{"id":"e7953f67.2964","type":"change","z":"c233ac79.f1c92","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"listening_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":560,"wires":[["f8dba738.9303f8"]]},{"id":"22a612ae.aee92e","type":"switch","z":"9692a37d.5f08d","name":"","property":"check_out","propertyType":"global","rules":[{"t":"neq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1310,"y":240,"wires":[["6118804a.4f1f3"]]},{"id":"a7ca4653.1e9538","type":"change","z":"9692a37d.5f08d","name":"","rules":[{"t":"set","p":"check_face","pt":"global","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2540,"y":240,"wires":[[]]},{"id":"5cfe3982.13aa88","type":"countdown","z":"92e4f5d6.d4c358","name":"","topic":"","payloadTimerStart":"true","payloadTimerStartType":"str","payloadTimerStop":"false","payloadTimerStopType":"str","timer":"10","resetWhileRunning":true,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":310,"y":300,"wires":[["f54247d5.a44d68"],[]]},{"id":"f54247d5.a44d68","type":"switch","z":"92e4f5d6.d4c358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":300,"wires":[["5fa7c3b8.7b9aac"]]},{"id":"ee9a53d2.386f9","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":240,"wires":[]},{"id":"8a2cedf6.f63b3","type":"change","z":"552acbb0.493cf4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":420,"wires":[["a7d5499a.976f28"]]},{"id":"4852a5c1.2ad58c","type":"debug","z":"de83c066.d59c5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":940,"wires":[]},{"id":"f0e7e830.f42e68","type":"inject","z":"de83c066.d59c5","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":940,"wires":[["69b11e3c.e279a"]]},{"id":"69b11e3c.e279a","type":"function","z":"de83c066.d59c5","name":"","func":"var a = Math.floor((Math.random() * 3) + 1)\nmsg.payload = a\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":940,"wires":[["4852a5c1.2ad58c"]]},{"id":"ae903e82.8fdfb","type":"debug","z":"9692a37d.5f08d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2020,"y":520,"wires":[]},{"id":"191fc1d5.d19a3e","type":"debug","z":"9692a37d.5f08d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2630,"y":100,"wires":[]}]